
<form action="/payment/results">
  <label for="apr">APR</label>
  <input id="apr" type="text" name="users_apr">

  <label for="years">Number of years</label>
  <input id="years" type="text" name="users_years">

  <label for="principal">Principal</label>
  <input id="principal" type="text" name="users_pv">

  <button>Calculate monthly payment</button>
</form>
